<footer class="footer">
  <img data-src="./images/footer-bg.png" alt="" class="lazy footer__bg">
  <div class="footer__container">
    <div class="footer__row footer__nav">
      <div class="footer__text">
        <a href="#"><img data-src="./images/footer-logo.svg" alt="Footer logo" class="footer__logo lazy"></a>
        <p>A well-designed gaming header often incorporates elements such as game characters, iconic symbols, vibrant
          colors, and dynamic visuals .</p>
      </div>
      <div class="footer__col">
        <span>company</span>
        <a href="#">products</a>
        <a href="#">apps & games</a>
        <a href="#">features</a>
      </div>
      <div class="footer__col">
        <span>help</span>
        <a href="#">support</a>
        <a href="#">about</a>
        <a href="#">contact us</a>

      </div>
      <div class="footer__col">
        <span>resources</span>
        <a href="#">youtube playlist</a>
        <a href="#">how to - blog</a>
        <a href="#">terms & conditions</a>
      </div>
    </div>
    <div class="footer__row footer__company">
      <img data-src="./images/twitch.svg" alt="twitch" class="lazy">
      <img data-src="./images/roblox.svg" alt="roblox" class="lazy">
      <img data-src="./images/asus.svg" alt="asus" class="lazy">
      <img data-src="./images/canon.svg" alt="canon" class="lazy">
      <img data-src="./images/microsoft.svg" alt="microsoft" class="lazy">
    </div>
    <div class="footer__row footer__bottom">
      <div class="footer__socials">
        <a href="#"><img data-src="./images/icons/twitter.svg" alt="twitter" class="lazy"></a>
        <a href="#"><img data-src="./images/icons/facebook.svg" alt="facebook" class="lazy"></a>
        <a href="#"><img data-src="./images/icons/instagram.svg" alt="instagram" class="lazy"></a>
        <a href="#"><img data-src="./images/icons/github.svg" alt="github" class="lazy"></a>
        <p>© Copyright 2023, All Rights Reserved by board</p>
      </div>
    </div>
  </div>
</footer>

<script src="js/functions/lazyImg.js" defer></script>
<script src="./js/functions/swiper.min.js"></script>
<!-- <script src="./js/functions/swiperInit.js"></script> -->
<script type="module" src="js/app.js"></script>


<script>
  window.addEventListener('load', () => {
    setTimeout(() => {
      document.querySelector('.wrapper').classList.add('loaded');
    }, 2500);
  });

  const swiper = new Swiper('.swiper', {
    slidesPerView: 2,
    spaceBetween: 20, 
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      922: {
        slidesPerView: 2,
      }
    },
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });

</script>
</body>

</html>