<div class="swiper-container">
  <div class="slide-mask lazy-bg" data-bg="./images/slider/slider-active-bg.png"></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>

    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>

    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>

    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>

    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>

    <div class="swiper-slide">
      <img data-src="./images/slider/slider-1.jpg" alt="Slider-image" class="lazy">
    </div>
  </div>
</div>